.order {
  .order-list {
    .order-item {
      display: grid;
      grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
      align-items: start;
      gap: 30px;
      border: 1px solid tomato;
      padding: 20px;
      margin: 30px 0px;
      font-size: 14px;
      color: gray;
      img {
        width: 40px;
        height: 40px;
      }
      .food {
        font-weight: 600;
      }
      .order-name {
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 5px;
      }
      .order-address {
        margin-bottom: 10px;
      }
      select {
        background-color: rgb(245, 193, 201);
        border: 1px solid tomato;
        width: max(10vw, 120px);
        padding: 10px;
        outline: none;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 900px) {
  .order {
    .order-list {
      .order-item {
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
        img {
          width: 30px;
        }
        select {
          padding: 5px;
          font-size: 12px;
        }
      }
    }
  }
}
