.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  h1 {
    font-size: 35px;
    font-weight: 600;
    color: tomato;
  }
  img {
    height: 30px;
    height: 30px;
  }
}
